---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">SKY AI</span>
  </div>
  <p style="align:center;font-color:lightblue;font-family:elephant;"><a href="https://sandeepkasturi.blogspot.com" target="_blank">Redeem_Tech<br/><a href="https://github.com/Sandeepkasturi" target="_blank"><big>Sandeep Kasturi</big></p>
  <br><p mt-1 op-60>Type Your Promt Here :</p>
</header>
